* {
  box-sizing: border-box;
}
a {
  color:white;
}
html {
  font-family: "Segoe UI", sans-serif;
}
body {
  margin: 0;
  padding-top: 5%;
  background-color: rgb(34, 109, 104);
}
button {
  width: 10vw;
  height: 6vh;
  background-color: rgb(254, 234, 161);
  border: 1px solid black;
  font-size: 1em;
}
button:hover {
  background-color: rgb(255, 251, 237);
}

header {
  position: fixed;
  background-color: rgb(24, 83, 79);
  width: 100%;
  height: 100%;
  color: white;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 2em;

  text-align: center;
}
form > h1 {
  font-size: 0.75em;
}


h2 {
  margin: 10px;
}
input {
  background-color: rgb(250, 250, 250);
  width: 60%;
  font-size: 1em;
  border-radius: 8px;
}
input::placeholder {
  font-size: 0.7em;
  text-align: center;
}

label {
  font-size: 1em;
}
main {
  width: 90%;
  margin: 0 auto 10% auto;
  background-color: rgb(236, 248, 246);
  padding-top: 1%;
}

p {
  font-weight: bold;
  font-size: 1.3em;
}
div > p {
  font-size: 1em;
  text-align:center;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
tbody tr,
td,
thead th {
  cursor: pointer;
  border: 1px solid black;
  margin: 1% 5%;
}
tbody tr:hover {
  background-color: white;
}
th,
td {
  padding: 8px;
  text-align: left;
}
td option[value="conforme"] {
  background-color: lightgreen;
}
td option[value="conforme"] {
  background-color: lightgreen;
}

td option[value="en cours de déploiement"] {
  background-color: lightblue;
}

td option[value="non conforme"] {
  background-color: lightcoral;
}

td option[value="non applicable"] {
  background-color: lightgray;
}

td option[value="a definir"] {
  background-color: lightgoldenrodyellow;
}
tr:not(:last-child) {
  border-bottom: 1px solid rgb(150, 150, 150);
}
.accueil {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse, white, rgb(0, 92, 54));
  display: flex;
  justify-content: center;
  align-items: center;
}
.butt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.column1 {
  width: 10%; 
}
.column2 {
  width: 60%;
}
.column3 {
  width: 30%;
}
.column3 select {
  width: 100%;
}

.hidden {
  display: none;
}

.urlSite {
  margin: auto;
  margin-bottom: 3%;
  width: 65%;
  height: 6%;
  font-size: 2em;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: transparent;
}


 
#counter-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

#filter-container, .filtreHaut, .filtreBas, select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  font-size: 1.1em;
}
#table-container {
  padding-bottom: 6%;
}



@media screen and (max-width: 980px) {
  #filter-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .filtreHaut, .filtreBas {
    flex-direction: column;
  }
}

